# Lecture 01. Introduction to Machine Learning

***

> 이 장에서는 머신러닝(Machine Learning *이하 ML*)에 대해 간략하게 개념을 세우고 지도학습과 비지도학습이라는 가장 핵심적인 내용을 다루도록 하겠습니다.


[목 차]

1. 활용사례
    - 챌린저호 사고
    - 

2. ML의 정의

3. ML의 종류



## 1. 활용사례

> ML이 무엇인지를 알기전에 대체 몇가지 활용사례를 통해서 어디에 사용되는 것인지를 알아보겠습니다.

 
 1. 챌린저호 사고
    
   - 최근에 개봉한 영화 '퍼스트 맨'은 1969년 아폴로 11호를 타고 달에 첫 발을 내딛은 최초의 인간 '닐 암스트롱' 일대기를 다루고 있습니다. 영화를 보셨거나 아폴로 계획에 대해서 관심이 많으신 분들은 잘 아시겠지만, 아폴로 11호가 성공하기 이전의 사고로 인해 많은 인명피해 및 예산을 감당해야만 했던 아픔이 있었습니다. 그런데 이러한 우주항공 사고는 시간이 많이 흘러서 기술의 발전이 있음에도 불구하고 뜻 밖의 원인(어떻게 보면 사소한)으로 인해서 일어났었습니다. 
   
   - 바로 1986년 1월 28일 미국 플로리다주의 케네디우주센터에서 발사후 70초만에 공중폭발한 챌린저호에 대한 원인규명에 대한 이야기 입니다.
   
   - 당시의 사고현장을 동영상으로 보겠습니다. (출처 [유투브](https://www.youtube.com/watch?v=j4JOjcDFtBE&feature=youtu.be))

   - 결론부터 말씀드리면 위 사고의 결정적인 원인은 저온에서 O-ring의 탄성력이 저하되어서 고체추진로켓의 여소가스가 누출된 것 입니다.
      
      ![pic1](http://choo.ischool.utoronto.ca/FIS/courses/lis2149/challenger.gif)
   
      ![pic2](http://scienceon.hani.co.kr/files/attach/images/73/879/090/00c12.jpg)
   
      ![pic3](http://scienceon.hani.co.kr/files/attach/images/73/879/090/00c6.jpg)
       
    - 물리학자 파인만의 O-ring 모의실험
        - 얼음물에 담근 후의 O-ring이 탄성력을 잃고 원래 모양으로 돌아오지 못하는 것을 보여줍니다.(출처 [유투브](https://youtu.be/6Rwcbsn19c0))
    
    - 당시에 목격된 이상징후
   
       ![pic4](http://scienceon.hani.co.kr/files/attach/images/73/879/090/00c77.jpg)
      
    - 아이러니 하게도 NASA에서는 온도에 따른 O-ring의 손상도에 대한 실험 데이터를 가지고 있었다고 합니다.

In [11]:
import pandas as pd
pd.read_csv('/Users/hbk/github/BigAlMot_01/Session3/input_data/challenger.csv')

    o_ring_ct  distress_ct  temperature  pressure  launch_id
0           6            0           66        50          1
1           6            1           70        50          2
2           6            0           69        50          3
3           6            0           68        50          4
4           6            0           67        50          5
5           6            0           72        50          6
6           6            0           73       100          7
7           6            0           70       100          8
8           6            1           57       200          9
9           6            1           63       200         10
10          6            1           70       200         11
11          6            0           78       200         12
12          6            0           67       200         13
13          6            2           53       200         14
14          6            0           67       200         15
15          6            0           75       200         16
16          6            0           70       200         17
17          6            0           81       200         18
18          6            0           76       200         19
19          6            0           79       200         20
20          6            0           75       200         21
21          6            0           76       200         22
22          6            1           58       200         23